# Ignore local python virtual environments
venv/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local files and secrets
.env
uploads/
cloud-sql-proxy.exe

# Ignore git folder
.git
.gitignore
